@CHARSET "UTF-8";

.divContentHeader {
	background-color: #F2F2F2;
}

div ul li {
	list-style-type: none;
}

.divThmbs {
	float: left;
	margin: 25px;
	
}
.divSlide {
    float: left;
    margin: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    height: 300px;	
}

.divText {
	 float: left;
    margin: 50px 10px 50px 50px;
    border: 1px solid #004056;
    border-radius: 5px;
    padding: 20px;
    width: 800px;
    height: 100px;
    color: #004056;
    
}

.liThumb {
	margin-bottom: 10px;
}

.ulThumb {
	padding-bottom: 20px;
}