@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* 헤더 */
#divHeader {
	font-family: 'Nanum Gothic', sans-serif;
	height: 100px;
    background-color: #004056;
    color: white;
    clear: both;
}

#divTitle {
	font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    margin: 40px 0px 40px 40px;
}

#divFooter {
	font-family: 'Nanum Gothic', sans-serif;
	height: 70px;
    background-color: #004056;
    color: white;
    clear: both;
}

.spanLogo {
	width: 37px;
    border: 1px solid #ffffff;
    word-break: break-all;
    font-size: 10pt;
   	float: left;
    margin: 12px;
    text-align: center;
    border-radius: 5px;
}

.spanLogoMain {
    width: 37px;
    border: 1px solid #ffffff;
    word-break: break-all;
    font-size: 10pt;
    float: left;
    margin: 27px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.spanLogo:before, .spanLogoMain:before {
    content: "2016531047MJ";
}

.spanLogo:hover, #spanHome:hover {
	cursor: pointer;
}

#spanHome {
    font-style: italic;
    font-size: 25pt;
    margin: 30px 0px 0px 5px;
    float: left;
    font-weight: bold;
}

.pBtnMain {
	margin: 27px 10px 0px 5px;
    float: right;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 12pt;
    padding: 3px;
    width: 100px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    cursor: pointer;
}

.pBtnMainEnd {
	margin: 27px 27px 0px 5px;
    float: right;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 12pt;
    padding: 3px;
    width: 100px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    cursor: pointer;
}

.pBtnMainLine2 {
    margin: 27px 10px 0px 5px;
    float: right;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 12pt;
    padding: 3px;
    width: 100px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.spanFooter {
    font-size: 8pt;
    margin: 27px 10px 0px 0px;
    float: left;
}

#divImage {
    margin: 40px;
    width: 1000px;
    height: 500px;
}

.imgSource {
 	zoom: 0.5;
    height: 900px;
}
