@CHARSET "UTF-8";

#divAccordion {
	margin: 40px 40px 20px 40px;
}

.h3Title {
    border-radius: 5px;
    background-color: #004056;
    color: #ffffff;
    text-align: left;
    vertical-align: middle;
    line-height: 45px;
    padding-left: 10px;
}

.h3Title:hover {
    background-color: #ffffff;
    color: #004056;
}

.divContent {
    border-radius: 5px;
    background-color: #ffffff;
    color: #004056;
    text-align: left;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
    margin: 0px 10px;
}

.arrowProcess {
	display: none;
	float: right;
	margin: 15px;
}

