@CHARSET "UTF-8";

#divRedirect {
	margin: 50px 70px 70px 70px;
    padding-bottom: 80px;
}

#divRedirect p {
    border: 2px solid #004055;
    border-radius: 5px;
    font-size: 12pt;
    padding: 3px;
    width: 100px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 20px;
    float: left;
}

#divRedirect p:nth-child(3) {
    line-height: 40px;
    margin-left: 300px;
}

#divLine {
	margin: 40px;
	
}

.divLine {
	width: 1100px;
	height: 7px;
	background-color: #C9FFD5;
    position: relative;
    z-index: 10;
}

.divDot {
	width: 7px;
    height: 35px;
    background-color: #74CEB7;
    float: left;
    margin-top: -20px;
    margin-right: 93px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    
}

.divDot:nth-child(12) {
    margin-right: 0px;
}

.divProgress {
	color: #C9FFD5;
	float: left;
	position: relative;
    z-index: 10;
    margin-left: 1085px;
    margin-top: -52px;
}

.divContent {
    margin-top: 70px;
    margin-bottom: 70px;
}

#divContent {
	padding-top: 30px;
}

.divNumber {
	width: 10px;
    height: 50px;
    margin-right: 90px;
    position: relative;
    margin-top: -50px;
    color: #2C858D;
    z-index: 10;
    float: left;
    cursor: pointer;
}

.divDescription {
	clear: both;	
	margin-left: 890px;
    margin-right: 50px;
    font-size: 8pt;
    text-align: right;
}

#divDescriptionProd, #divDescriptionProj {
	font-style: italic;	
}
